<div th:fragment="commandesList">
	<div class="box-body table-responsive no-padding">
		<table id="table" class="table table-condensed table-bordered table-striped table-hover">
			<thead>
				<tr>
					<th style="text-align: left" width="5%">#</th>
					<th style="text-align: center" width="10%" th:text="#{client}"></th>
					<th style="text-align: center" width="10%" th:text="#{commandes.orderdate}"></th>
					<th style="text-align: center" width="30%" th:text="#{commandes.infos}"></th>
					<th style="text-align: center" width="10%" th:text="#{commandes.totalprice}"></th>
					<th style="text-align: center" width="10%" th:text="#{commandes.totalgain}"></th>
					<th style="text-align: center" width="3%" th:text="#{actions}"></th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="var : ${commandeList}">
					<td th:text="${var.key.commandeId}"></td>
					<td style="text-align: center" th:text="|${var.key.client.nom} ${var.key.client.prenom}|"></td>
					<td style="text-align: center" th:text="${{var.key.dateCmd}}"></td>
					<td>
						<div class="box-body table-responsive no-padding">
							<table class="table table-condensed table-striped table-hover">
								<tr>
									<th style="text-align: left" width="25%" th:text="#{ref}"></th>
									<th style="text-align: right" width="30%" th:text="#{products.prixachat}"></th>
									<th style="text-align: right" width="30%" th:text="#{products.prixvente}"></th>
									<th style="text-align: right" width="35%" th:text="#{qte}"></th>
									<th style="text-align: right" width="40%" th:text="#{commandes.benefice}"></th>
								</tr>
								<tr th:each="var : ${var.key.commandeProduits}">
									<td th:text="${var.produit.ref}"></td>
									<td style="text-align: right" th:text="|${var.produit.prixAchat}DH|"></td>
									<td style="text-align: right" th:text="|${var.produit.prixVente}DH|"></td>
									<td style="text-align: right" th:text="${{var.qte}}"><a th:href="@{/produits/update(id=${var.produit.produitId})}"></a></td>
									<td style="text-align: right" th:text="|${(var.produit.prixVente-var.produit.prixAchat)*var.qte}DH|"></td>
								</tr>
							</table>
						</div>
					</td>
					<td style="text-align: center" th:text="|${{var.value.prixTotal}}DH|"></td>
					<td style="text-align: center" th:text="|${{var.value.gainTotal}}DH|"></td>
					<td align="center">
						<table>
							<tr>
								<td>
									<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myDeleteModal3">
										<i class="fa fa-trash-o"></i>
									</button>
								</td>
							</tr>
						</table>
						<div class="modal fade modal-danger" id="myDeleteModal3">
							<div class="modal-dialog">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
										<h4 class="modal-title" th:text="#{modal.delete}"></h4>
									</div>
									<div class="modal-body">
										<p th:text="#{modal.confirm.message}"></p>
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-outline pull-left" data-dismiss="modal" th:text="#{modal.confirm.no}"></button>
										<a th:href="@{delete(id=${var.key.commandeId})}" type="button" class="btn btn-outline" th:text="#{modal.confirm.yes}"></a>
									</div>
								</div>
							</div>
						</div>
					</td>
				</tr>
			</tbody>
			<tfoot>
				<tr>
					<th style="text-align: left" width="5%">#</th>
					<th style="text-align: center" width="10%" th:text="#{client}"></th>
					<th style="text-align: center" width="10%" th:text="#{commandes.orderdate}"></th>
					<th style="text-align: center" width="30%" th:text="#{commandes.infos}"></th>
					<th style="text-align: center" width="10%" th:text="#{commandes.totalprice}"></th>
					<th style="text-align: center" width="10%" th:text="#{commandes.totalgain}"></th>
					<th style="text-align: center" width="3%" th:text="#{actions}"></th>
				</tr>
			</tfoot>
		</table>
	</div>
</div>
