<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/layout">
<body>
	<section layout:fragment="content" class="content-body">
		<section class="content-header">
			<h1 th:text="#{header.body.commandes}"></h1>
			<ol class="breadcrumb">
				<li>
					<a href="/home" th:text="#{home}"><i class="fa fa-dashboard"></i></a>
				</li>
				<li class="active" th:text="#{header.body.commandes}"></li>
			</ol>
		</section>
		<!-- 				Table -->
		<section class="content">
			<div class="box">
				<div class="box-header">
					<h3 class="box-title" th:text="#{commandes.list}"></h3>
					<a class="btn btn-success" th:href="@{/commandes/managCmd}" type="button"><i class="fa fa-plus-circle"></i> <span th:text="#{commandes.addcmd}"></span></a>
				</div>
				<!-- /.box-header -->
				<div class="box-body">
					<table id="table" class="table table-condensed table-bordered table-striped table-hover">
						<thead>
							<tr>
								<th style="text-align: left" width="5%">#</th>
								<th style="text-align: center" width="10%" th:text="#{client}"></th>
								<th style="text-align: center" width="10%" th:text="#{commandes.orderdate}"></th>
								<th style="text-align: center" width="5%" th:text="#{commandes.valide}"></th>
								<th style="text-align: center" width="30%" th:text="#{commandes.infos}"></th>
								<th style="text-align: center" width="10%" th:text="#{commandes.totalprice}"></th>
								<th style="text-align: center" width="10%" th:text="#{commandes.totalgain}"></th>
								<th style="text-align: center" width="15%" th:text="#{actions}"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="var : ${commandeList}">
								<td th:text="${var.key.commandeId}"></td>
								<td style="text-align: center" th:text="|${var.key.client.nom} ${var.key.client.prenom}|"></td>
								<td style="text-align: center"  th:text="${{var.key.dateCmd}}"></td>
								<td style="text-align: center" th:text="${var.key.valide}? #{bool.true} : #{bool.false}"></td>
								<td>
									<table class="table table-condensed table-striped table-hover">
										<tr>
											<th style="text-align: left" width="25%" th:text="#{ref}"></th>
											<th style="text-align: right" width="30%" th:text="#{products.prixachat}"></th>
											<th style="text-align: right" width="30%" th:text="#{products.prixvente}"></th>
											<th style="text-align: right" width="35%" th:text="#{qte}" ></th>
											<th style="text-align: right" width="40%" th:text="#{commandes.benefice}"></th>
										</tr>
										<tr th:each="var : ${var.key.commandeProduits}">
											<td th:text="${var.produit.ref}"></td>
											<td style="text-align: right" th:text="|${var.produit.prixAchat}DH|"></td>
											<td style="text-align: right" th:text="|${var.produit.prixVente}DH|"></td>
											<td style="text-align: right" th:text="${{var.qte}}"><a th:href="@{/produits/update(id=${var.produit.produitId})}"></a></td>
											<td style="text-align: right" th:text="|${(var.produit.prixVente-var.produit.prixAchat)*var.qte}DH|"></td>
										</tr>
									</table>
								</td>
								<td style="text-align: center" th:text="|${{var.value.prixTotal}}DH|"></td>
								<td style="text-align: center" th:text="|${{var.value.gainTotal}}DH|"></td>
								<td style="text-align: center"><a
									th:href="@{update(id=${var.key.commandeId})}" type="button"
									class="btn btn-info  "><i class="fa fa-edit"></i> </a> <a
									th:href="@{delete(id=${var.key.commandeId})}" type="button"
									class="btn btn-danger "><i class="fa fa-trash-o"></i> </a>
									<a
									th:href="@{invoice(id=${var.key.commandeId})}" type="button"
									class="btn btn-warning "><i class="fa fa-search-plus"></i> </a></td>
							</tr>
						</tbody>
						<tfoot>
							<tr>
								<th style="text-align: left" width="5%">#</th>
								<th style="text-align: center" width="10%" th:text="#{client}"></th>
								<th style="text-align: center" width="10%" th:text="#{commandes.orderdate}"></th>
								<th style="text-align: center" width="5%" th:text="#{commandes.valide}"></th>
								<th style="text-align: center" width="30%" th:text="#{commandes.infos}"></th>
								<th style="text-align: center" width="10%" th:text="#{commandes.totalprice}"></th>
								<th style="text-align: center" width="10%" th:text="#{commandes.totalgain}"></th>
								<th style="text-align: center" width="15%" th:text="#{actions}"></th>
							</tr>
						</tfoot>
					</table>
				</div>
				<!-- /.box-body -->
			</div>
		</section>

	</section>

</body>
</html>